.form-item-type,
.form-item-severity {
  float: left; /* LTR */
  padding-right: .8em; /* LTR */
  margin: 0.1em;
  /**
   * In Opera 9, DOM elements with the property of "overflow: auto"
   * will partially hide its contents with unnecessary scrollbars when
   * its immediate child is floated without an explicit width set.
   */
  width: 15em;
}
#lightlog-filter-form .form-type-select select {
  width: 100%;
}
#lightlog-filter-form .form-actions {
  float: left;
  padding: 3ex 0 0 1em;
}

tr.lightlog-user {
  background: #ffd;
}
tr.lightlog-user .active {
  background: #eed;
}
tr.lightlog-content {
  background: #ddf;
}
tr.lightlog-content .active {
  background: #cce;
}
tr.lightlog-page-not-found,
tr.lightlog-access-denied {
  background: #dfd;
}
tr.lightlog-page-not-found .active,
tr.lightlog-access-denied .active {
  background: #cec;
}
tr.lightlog-error {
  background: #ffc9c9;
}
tr.lightlog-error .active {
  background: #eeb9b9;
}
table#admin-lightlog td.icon {
  background: no-repeat center;
  width: 16px;
}
table#admin-lightlog tr.lightlog-warning td.icon {
  background-image: url(/misc/message-16-warning.png);
}
table#admin-lightlog tr.lightlog-error td.icon,
table#admin-lightlog tr.lightlog-critical td.icon,
table#admin-lightlog tr.lightlog-alert td.icon,
table#admin-lightlog tr.lightlog-emerg td.icon {
  background-image: url(/misc/message-16-error.png);
}
